
.parrafo button {    
    margin-top: 3rem;
    font-size: 1.5rem;
    align-self: flex-start;
    padding: 1rem 2rem;
    background-color: rgb(85, 107, 74);
    border: solid 1px rgb(167, 165, 165);
    color: rgb(238, 238, 238);
    cursor: pointer;
    border-radius: 5px;
}

.ventas button{
    margin: 3rem;
    align-self: flex-end;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: rgb(85, 107, 74);
    border: solid 1px rgb(167, 165, 165);
    color: rgb(238, 238, 238);
    cursor: pointer;
    border-radius: 5px;
}
    


button:hover {
    background-color: rgb(51, 73, 47);
}



