
header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin-top: 0.5rem;
}

.parrafo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: justify;      
    word-wrap: break-word;  
    box-sizing: border-box;  
}

span {
    font-weight: bold;
    font-size: 1.5rem;
}
header p{
    font-size: 1.1rem;
    margin-top: 5rem;
    text-align: justify;
    color: rgb(102, 102, 102);
}

.fotos-portada {   
    display: flex;
    margin-top: 10rem;
    justify-content: center;
    min-width: 400px;
    align-items: center;
    width: 70%;
    position: relative;

}

.foto-portada {    
    width: 80%;
    height: auto;
    z-index: 2;
    border: solid 2px rgb(167, 165, 165);
    border-radius: 15px;
    position: relative;
    bottom:20px;
}

.foto-rotada {    
    border: solid 2px rgb(167, 165, 165);
    border-radius: 15px;
    width: 80%;
    height: auto;
    position: absolute;
    transform: rotate(10deg);
    z-index: 1;
    right: 13px;
    bottom: 35%;    
}

