
header {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin-top: 0.5rem;
}

.parrafo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 1rem;
    text-align: justify;
      
    word-wrap: break-word;  
    box-sizing: border-box;  
}

span {
    font-weight: bold;
    font-size: 1.5rem;
}
header p{
    font-size: 1rem;
    margin-top: 5rem;
    text-align: justify;
}

.fotos-portada {   
    display: flex;
    margin-top: 20%;
    justify-content: center;
    min-width: 400px;
    align-items: center;
    width: 80%;
    position: relative;

}

.foto-portada {    
    width: 80%;
    height: auto;
    z-index: 2;
    border: solid 10px rgb(43, 42, 42);
    border-radius: 15px;
    position: relative;
    bottom:20px;
}

.foto-rotada {
    
    border: solid 10px rgb(63, 62, 62);
    border-radius: 15px;
    width: 80%;
    height: auto;
    position: absolute;
    transform: rotate(10deg);
    z-index: 1;
    right: 13px;
    bottom: 25%;
    
    
}

