

@import "./css/body.css";
@import "./css/header.css";
@import "./css/button.css";
@import "./css/main.css";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@media (min-width: 830px) {
    .container{
        width: 80%;
        margin: 0 auto;

    }
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    
    .tag{
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: auto;
        max-width: 250px;
        gap: 1rem;
    }
}

@media (min-width: 1000px){
    header {        
        display: flex;
        flex-direction: row;        
        justify-content: space-around;
        align-items: center;
    }
}
